/* 外部htmlファイル  */
/* contancr */
.contact-title {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 50px;
}
.contact {
	margin-bottom: 60px;

}
/* company */
.company {
	margin-top: 50px;
	margin-bottom: 50px;

}
.company-title {
	text-align: center;
	padding-bottom: 30px;
}
.company-title h2 {
	padding-bottom: 10px;
}
.company-content {
	display: flex;
	justify-content: center;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
/* header */
header {
	background-image: url('image/IMG_1.jpeg');
	background-size: cover;
	background-position: center;
	height: 750px;
	width: 100%;
}
.navbar a {
	font-size: 35px;
}
.navbar li a {
	font-size: 20px;
}
.dropdown .dropdown-menu a{
	font-size: 15px;
}

/* news */
.news-top {
	display: flex;
	justify-content: center;
}
.news-top-title {
	margin-top: 60px;
	margin-bottom: 5px;
}
.news-subtitle {
	display: flex;
	justify-content: center;	
	margin-bottom: 30px;
}
.news-subtitle-left a,
.news-subtitle-right a {
	font-size: 16px;
	padding: 0 5px;
	color: black;
}
.news-subtitle-left a:hover,
.news-subtitle-right a:hover {
	color: #696969;
}
.news-box {
	display: flex;
	justify-content: center;
}
.news-list {
	padding: 5px;
}
.news-list p {
	display: inline-block;
	color: lightgray;
}
.news-list a {
	display: inline-block;
	color: black;
	font-size: 15px;
}
.news-list a:hover {
	color: #696969;
}
.news-green,
.news-yellow,
.news-pink {
	display: inline-block;
	margin: 0 10px;
	background-color: #3cb371;
	border-radius: 5px;
	line-height: 25px;
	width: 75px;
	text-align: center;
	font-size: 13px;
	color: white;
}
.news-yellow {
	background-color: #ffd700;
}
.news-pink {
	background-color: #dc143c;
}
.ir-contents {
	display: none;
}
.news-bottom {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.news-btn {
	display: inline-block;
	background-color: #4169e1;
	border-radius: 5px;
	width: 150px;
	line-height: 50px;
	text-align: center;
	color: white;
}
.news-btn:hover {
	background-color: white;
	color: #4169e1;
}
/* service */
.service-title {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.service-1-title {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.service-1-right {
	
	
}
.service-1-right-title {
	padding-top: 15%;
	text-align: center;
}
.service-1-right-content {
	padding-top: 10%;
	text-align: center;
}
img {
	width: 100%;
}

.service-2-left {
	text-align: center;
	
}
.service-2-left-title {
	padding-top: 15%;
}
.service-2-left-content {
	padding-top: 10%;
}

/* about */
.about-title {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.about-content {
	text-align: center;
}
.about-1-title {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.about-1-right {
	text-align: center;
	
}
.about-1-right-title {
	padding-top: 15%;
}
.about-1-right-content {
	padding-top: 10%;
}

.about-btn {
	display: inline-block;
	background-color: lightgray;
	color: white;
	line-height: 40px;
	width: 150px;
	text-align: center;
	margin-top: 5%;
}
.about-btn:hover {
	background-color: white;
	color: lightgray;
}
/* recruit */
.recruit {
	margin-bottom: 50px;
}
.recruit-title {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.recruit-left {
	text-align: center;
	
}
.recruit-left-title {
	padding-top: 15%;
}
.recruit-left-content {
	padding-top: 10%;

}

.recruit-btn {
	display: inline-block;
	background-color: lightgray;
	color: white;
	line-height: 40px;
	width: 150px;
	text-align: center;
	margin-top: 5%;
}
.recruit-btn:hover {
	background-color: white;
	color: lightgray;
}
/* footer */
footer {
	background: #f5f5f5;
	height: 100px;
}
.footer-left {
	margin-top: 25px;
}
.footer-left li {
	display: inline-block;
	padding: 0 5px;
}
.footer-left a {
	font-size: 15px;
	color: black;
}
.footer-left a:hover {
	color: #696969;
}
.leftborder {
	border-left: 1px solid #999;
	padding-left: 10px;

}
.copyright {
	margin-top: 25px;
	color: #999;
	padding-left: 30px;
	display: flex;
	justify-content: center;
}
@media screen and (max-width:768px) {
/* header */
header {
	background-image: url('image/IMG_1.jpeg');
	background-size: cover;
	background-position: left;
	height: 600px;
	width: 100%;
}
.news-contents ul {
	padding: 0;
	margin: 0 10px;
}
.br-1 {
	display: none;
}
/* service */
.service-title {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 50px;
}
.service-1-title {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
.service-1-right-content {
	text-align: start;
	overflow-wrap: break-word;
}
.service-2-left-content {
	text-align: start;
	overflow-wrap: break-word;
}
.about-1-right-content p {
	text-align: start;
	overflow-wrap: break-word;	
}
.recruit-left-content p {
	text-align: start;
	overflow-wrap: break-word;
}
/* 縦を固定したまま横の比率だけ変える*/
.service-1-right-title {
	padding-top: 5%;
}
.service-1-right-content {
	padding-top: 8%;
	padding-bottom: 5%;
}

.service-2-left {
	text-align: center;
	
}
.service-2-left-title {
	padding-top: 5%;
}
.service-2-left-content {
	padding-top: 8%;
	padding-bottom: 5%;
}
/* about */
.about-1-right-title {
	padding-top: 5%;
}
.about-1-right-content {
	padding-top: 8%;
	padding-bottom: 5%;
}
/* recruit */
.recruit {
	margin-bottom: 40px;
}

.recruit-left-title {
	padding-top: 5%;
}
.recruit-left-content {
	padding-top: 8%;
	
}
.footer-left ul {
	padding-left: 20px;
}
footer {
	background: #f5f5f5;
	height: 150px;
}
}